.container {
  box-sizing: border-box;
  width: 1360px;
  margin: 0 auto;

  @media (max-width: $breakpoint-xl) {
    width: 100%;
  }

  @media (max-width: $breakpoint-mobile) {
    padding: 0 10px;
  }
}

h1 {
  margin: 0;
  font-weight: 700;
  font-size: 180px;
  font-family: 'BarlowCondensed', sans-serif;
  line-height: 80%;
  text-transform: uppercase;
}

h2 {
  margin: 0;
  font-weight: 700;
  font-size: 120px;
  font-family: 'BarlowCondensed', sans-serif;
  line-height: 90%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

h3 {
  margin: 0;
  font-weight: 700;
  font-size: 46px;
  font-family: 'BarlowCondensed', sans-serif;
  font-style: normal;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}


.text {
  margin: 0;
  color: #282727;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -0.03em;

  &--big {
    font-size: 24px;
    letter-spacing: -0.02em;
  }

  &--light {
    color: #E6E6E6;
  }
}

.button {
  display: flex;
  justify-content: center;
  width: 325px;
  padding: 9px 0;
  background-color: #282727;

  &--orange {
    background-color: #FF6700;
  }

  span {
    position: relative;
    display: inline-block;
    padding-right: 45px;
    color: #E6E6E6;
    font-weight: 700;
    font-size: 32px;
    font-family: 'BarlowCondensed', sans-serif;
    font-style: normal;
    line-height: 130%;
    text-transform: uppercase;

    &::after {
      position: absolute;
      top: 50%;
      right: 0;
      width: 25px;
      height: 25px;
      background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.5061 24.0061C23.3345 24.0061 24.0061 23.3345 24.0061 22.5061L24.0061 9.0061C24.0061 8.17767 23.3345 7.5061 22.5061 7.5061C21.6777 7.5061 21.0061 8.17767 21.0061 9.0061L21.0061 21.0061L9.0061 21.0061C8.17767 21.0061 7.5061 21.6777 7.5061 22.5061C7.5061 23.3345 8.17767 24.0061 9.0061 24.0061L22.5061 24.0061ZM0.93934 3.06066L21.4454 23.5668L23.5668 21.4454L3.06066 0.93934L0.93934 3.06066Z' fill='%23E6E6E6'/%3E%3C/svg%3E%0A");
      transform: translateY(-50%);
      content: '';
    }
  }
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}


.wrapper {
  position: relative;
  overflow: hidden;
}

.wrapper__content {
  position: relative;
  z-index: 100;
}

.wrapper__bg {
  position: absolute;
  top: -280px;
  right: -300px;
  z-index: 1;
  width: 1413px;
  height: 1192px;
  background-image: url("data:image/svg+xml,%3Csvg width='1413' height='1192' viewBox='0 0 1413 1192' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_f_230_586)'%3E%3Cpath d='M669.517 377.365C567.935 362.173 377.728 316.397 295.323 295.408C257.178 285.878 159.881 174.499 116 120L1293 138.99V1072H1043.71C1035.42 1041.68 1023.81 969.454 1043.71 923.078C1068.59 865.109 1026.09 812.636 936.428 747.67C846.766 682.704 1008.47 593.751 981.517 499.801C954.567 405.85 791.829 499.801 721.862 475.813C651.895 451.826 796.494 396.355 669.517 377.365Z' fill='%23FF6700'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_230_586' x='-4' y='0' width='1417' height='1192' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='60' result='effect1_foregroundBlur_230_586'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
}
