@import 'vendor/normalize.scss';
@import 'variables.scss';
@import 'components.scss';
@import 'sections/header.scss';
@import 'sections/hero.scss';


@font-face {
  font-weight: 400;
  font-family: 'IBMPlexMono';
  src: url('../../assets/fonts/IBMPlexMono-Regular.woff2');
}

@font-face {
  font-weight: 600;
  font-family: 'IBMPlexMono';
  src: url('../../assets/fonts/IBMPlexMono-SemiBold.woff2');
}

@font-face {
  font-weight: 600;
  font-family: 'BarlowCondensed';
  src: url('../../assets/fonts/BarlowCondensed-SemiBold.woff2');
}

@font-face {
  font-weight: 700;
  font-family: 'BarlowCondensed';
  src: url('../../assets/fonts/BarlowCondensed-Bold.woff2');
}

@font-face {
  font-weight: 700;
  font-family: 'Benzin';
  src: url('../../assets/fonts/benzin-bold.woff2');
}


body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #282727;
  font-weight: 400;
  font-family: 'IBMPlexMono', sans-serif;
  letter-spacing: -0.02em;
}


html {
  overflow-x: hidden;
}

.no-scroll {
  overflow: hidden;
}
