.header {
  border-bottom: 1px solid #282727;

  &__logo {
    color: $color-brand;
    font-size: 22px;
    font-family: 'Benzin', sans-serif;
    line-height: 26px;
    text-transform: uppercase;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  &__nav-list {
    display: flex;
    align-items: center;
    gap: 60px;
  }

  &__link {
    color: #282727;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
  }
}
